# macOS
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes

# Xcode & Swift
build/
DerivedData/
*.xcuserstate
project.xcworkspace/xcuserdata/
*.xcuserdatad/
xcuserdata/

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Distribution artifacts
dist/

# Rust / Cargo
target/
**/target/
Cargo.lock
**/Cargo.lock
**/src-tauri/gen/

# Android
.gradle/
**/build/
local.properties
*.apk
*.aab

